// app global css in SCSS form
.body--light {
}

.body--dark {
  background: #000;
}

.q-layout__section--marginal {
  background-color: #fff;
  color: #555;
}

.q-scrollarea {
  height: 100%;
  border-right: 1px solid #ddd;
}

.q-drawer-container .q-scrollarea__thumb--v {
  width: 5px;
}

.q-toolbar {
  min-height: 60px;
}
