@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;600&display=swap');

body {
  color: $dark;
  font-family: Roboto, 'Noto Sans KR', system-ui, -apple-system,
  Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
}

code {
  background: rgba($dark, .05);
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba($dark, .3);
  font-family: 'Courier New', monospace;
  padding: 3px;
}

// app global css in SCSS form
.body--light {
}

.body--dark {
  background: #000;
}

.q-layout__section--marginal {
  background-color: #fff;
  color: #555;
}

.q-scrollarea {
  height: 100%;
  border-right: 1px solid #ddd;
}

.q-drawer-container .q-scrollarea__thumb--v {
  width: 5px;
}

.q-header {
  border-bottom: 1px solid #ddd;
}

.q-btn:before {
  box-shadow: none;
}
