.q-date {
  color: rgba(#000, .7);

  &__header {
    display: none;
  }

  &__view {
    padding: 0;
  }

  &__navigation {
    padding: 20px 16px 8px;

    .q-btn {
      font-size: 1rem;
      font-weight: 500;
      text-transform: uppercase;
    }

    .flex:nth-child(2) {
      flex: none;
    }
  }

  &__arrow {
    order: 9;
    width: 40px;

    .q-icon {
      color: rgba(#000, .5);
      font-size: 1.5rem;
    }

    &:nth-child(1) {
      flex: 1 1 0;
      margin-right: 10px;
    }
    &:nth-child(4),
    &:nth-child(6) {
       display: none;
    }
  }

  &__calendar-weekdays {
    border-bottom: 1px solid #ddd;
    padding: 0 16px;
  }

  &__calendar-days-container {
    padding: 16px;
  }

  &__calendar-item {
    margin: 4px 0;
  }

  &__today {
    box-shadow: 0 0 1px 1px currentColor;
  }
}

.q-time {
  color: rgba(#000, .7);
  min-width: 240px;
  width: 240px;

  &__header {
    color: inherit;
    background-color: #fff;
  }

  &__link {
    opacity: .5;
    font-weight: 500;
  }

  &__container-child {
    background-color: rgba(#000, .05)
  }

  &__clock-position {
    font-size: .9rem;
  }
}
