.g-form {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(#ddd, .5);


  &--content {
    padding: 32px;

    .q-field + .q-field {
      margin-top: 16px;
    }

    .q-textarea.q-field--labeled .q-field__native {
      min-height: 5rem;
    }
  }

  &--actions {
    display: flex;
    justify-content: flex-end;
    padding: 8px 32px 32px;

    .q-btn {
      margin-left: 16px;
    }
  }
}
