.g-person {
  height: 250px;
  font-size: 0.9rem;

  &__header {
    display: flex;
    padding: 16px;
  }

  &__logo {
    flex: 1 1 0;
  }

  &__logged {
    opacity: 0.5;
  }

  &__main {
    text-align: center;

    .q-avatar {
      font-size: 80px;
      margin-bottom: 16px;
    }
  }

  &__name {
    opacity: 0.7;
    font-weight: 700;
  }

  &__team {
    opacity: 0.5;
  }
}
