$primary: rgb(104, 159, 56);
$secondary: rgb(192, 202, 51);
$accent: #9c27b0;

$dark: rgb(64, 77, 64);

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

@mixin phone {
  @media (min-width: 0) and (max-width: 480px) {
    @content
  }
}

@mixin mobile {
  @media (min-width: 481px) and (max-width: 767px) {
    @content
  }
}

@mixin mobile- {
  @media (min-width: 481px) {
    @content
  }
}

@mixin -mobile {
  @media (max-width: 767px) {
    @content
  }
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 1024px) {
    @content
  }
}

@mixin tablet- {
  @media (min-width: 768px) {
    @content
  }
}

@mixin -tablet {
  @media (max-width: 1024px) {
    @content
  }
}

@mixin laptop {
  @media (min-width: 1025px) and (max-width: 1280px) {
    @content
  }
}

@mixin laptop- {
  @media (min-width: 1280px) {
    @content
  }
}

@mixin -laptop {
  @media (max-width: 1024px) {
    @content
  }
}

@mixin desktop {
  @media (min-width: 1281px) {
    @content
  }
}
