@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap');

body {
  font-family: Roboto, 'Noto Sans KR', system-ui, -apple-system,
  Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
}

.logged-info {
  opacity: 0.5;
}

.g-person {
  height: 250px;
  font-size: 0.9rem;

  &__header {
    display: flex;
    padding: 16px;
  }

  &__logo {
    flex: 1 1 0;
  }

  &__main {
    text-align: center;

    .q-avatar {
      font-size: 80px;
      margin-bottom: 16px;
    }
  }

  &__name {
    opacity: 0.7;
    font-weight: 700;
  }

  &__team {
    opacity: 0.5;
  }
}

.g-menu {
  color: rgba(0, 0, 0, .5);
  font-size: 14px;
  font-weight: 500;
  padding: 16px 0;

  .q-item {
    padding: 8px 24px;
  }

  .q-item--active {
    background-color: rgba($dark, .05)
  }

  .q-item__section--avatar {
    min-width: auto;
  }

  &__title {
    padding: 8px 24px;

    &-name {
      color: var(--q-accent);
      line-height: 1rem;
      text-transform: uppercase;
    }

    &-desc {
      opacity: 0.5;
      font-size: 0.8rem;
    }
  }

  &__child {
    font-weight: 400;

    .q-item {
      padding-top: 4px;
      padding-bottom: 4px;
      min-height: 35px;

      &[depth] {
        padding-left: 110px;
      }

      &[depth="2"] {
        padding-left: 65px;
      }

      &[depth="3"] {
        padding-left: 80px;
      }

      &[depth="4"] {
        padding-left: 95px;
      }
    }
  }

  &__more {
    align-self: center;
    height: 20px;
    font-size: 8px;
    padding: 0;
    transform: rotate(0);
    width: 20px;
    transition: transform 0.4s;
  }
}


.g-task-queue {
  top: 1px;

  .q-tabs__arrow {
    height: 48px;

    &--left {
      background-image: linear-gradient(to right, rgba(#fff, 1) 20%, rgba(#fff, 0) 100%);
    }

    &--right {
      background-image: linear-gradient(to left, rgba(#fff, 1) 20%, rgba(#fff, 0) 100%);
    }
  }

  .q-tab {
    text-transform: none;

    &__icon:empty {
      display: none;

      & + .q-tab__label {
        padding-left: 0;
      }
    }
  }

  /*.q-tab__label {
    max-widt
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }*/
}


.g-page {
  background-color: rgba($dark, 0.05);
  border-top: 1px solid rgba($dark, 0.1);
  min-height: calc(100vh - 170px);
  padding: 24px;

  &__header {
    height: 70px;
    margin: 25px 24px;
  }

  &__name {
    font-size: 2rem;
    font-weight: 900;
    line-height: 2rem;
    margin: 0.3rem 0;
  }

  &__path {
    font-size: 0.8rem;

    > .q-icon {
      font-size: 1.5rem;
      margin: 0 5px;
      top: -2px;
    }
  }
}


@media (max-width: $breakpoint-sm-max) {
  .g-page {
    min-height: calc(100vh - 130px);
    padding: 16px;

    &__header {
      height: 50px;
      margin: 15px 16px;
    }

    &__name {
      font-size: 1.5rem;
      font-weight: 900;
      line-height: 1rem;
      margin: 0.3rem 0;
    }

    &__path {
      font-size: 0.7rem;

      > .q-icon {
        font-size: 1rem;
        margin: 0;
        top: -1px;
      }
    }
  }
}
