@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;700&display=swap');

body {
  font-family: Roboto, 'Noto Sans KR', system-ui, -apple-system, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.logged-info {
  color: #777;
}

.g-menu-title {
  padding: 16px;

  &__name {
    color: var(--q-accent);
    font-size: .9rem;
    font-weight: 700;
    line-height: 1rem;
    text-transform: uppercase;
  }

  &__desc {
    color: #aaa;
    font-size: .8rem;
  }
}

.g-person {
  height: 250px;

  &__header {
    display: flex;
    padding: 16px;
  }

  &__logo {
    flex: 1 1 0;
  }

  &__main {
    text-align: center;

    .q-avatar {
      font-size: 80px;
      margin-bottom: 16px;
    }
  }

  &__name {
    color: #777;
    font-weight: 700;
  }
  &__team {
    color: #aaa;
    font-size: .9rem;
  }
}
