@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap');

body {
  font-family: Roboto, 'Noto Sans KR', system-ui, -apple-system,
  Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.logged-info {
  opacity: 0.5;
}

.g-person {
  height: 250px;

  &__header {
    display: flex;
    padding: 16px;
  }

  &__logo {
    flex: 1 1 0;
  }

  &__main {
    text-align: center;

    .q-avatar {
      font-size: 80px;
      margin-bottom: 16px;
    }
  }

  &__name {
    opacity: 0.7;
    font-weight: 700;
  }

  &__team {
    opacity: 0.5;
    font-size: 0.9rem;
  }
}

.g-menu {
  color: rgba(0, 0, 0, .5);
  font-size: 14px;
  font-weight: 500;
  padding: 16px 0;

  .q-item__section--avatar {
    min-width: auto;
  }

  &__title {
    padding: 8px 16px;

    &-name {
      color: var(--q-accent);
      line-height: 1rem;
      text-transform: uppercase;
    }

    &-desc {
      opacity: 0.5;
      font-size: 0.8rem;
    }
  }

  &__child {
    .q-item {
      font-weight: 200;
      padding-top: 4px;
      padding-bottom: 4px;
      min-height: 35px;

      > .q-item__section--main {
        padding-left: 40px;
      }
    }
  }

  &__child
  > .q-item
  + .g-menu__child
  > .q-item
  > .q-item__section--main {
    padding-left: 60px;
  }

  &__child
  > .q-item
  + .g-menu__child
  > .q-item
  + .g-menu__child
  > .q-item
  > .q-item__section--main {
    padding-left: 80px;
  }

  &__more {
    align-self: center;
    height: 20px;
    font-size: 8px;
    padding: 0;
    transform: rotate(0);
    width: 20px;
    transition: transform 0.4s;
  }
}
